/********************* RESETS **********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************* END RESETS **********************/

/********************* BEGIN MAIN CSS **********************/

@import url('https://fonts.googleapis.com/css?family=Asul:400,700');

html, body {
  background-image: linear-gradient(#342F2F, black);
  font-family: "cannon", sans-serif;
  color: #000000;
  width: 100vw;
  min-height: 100vh;
	margin:0;
	padding:0;
}

circle {
  fill: none;
  stroke-width: 1.5px;
}

.logo-hero {
  width: 100vw;
  float: center;
  text-align: center;
  vertical-align: middle;
  margin: 15% 0 0 2.5%;
  z-index: 1;
  position: absolute;
}

.hero2 {
  width: 100vw;
  float: center;
  text-align: center;
  vertical-align: middle;
  margin-top: 1024px;
  z-index: 1;
  position: absolute;
}

.hero3 {
  width: 100vw;
  float: center;
  text-align: center;
  vertical-align: middle;
  margin: 217.5% 0 0 0;
  z-index: 1;
  position: relative;
}

.side-position {
	width: 100vw;
  text-align: left;
  vertical-align: top;
  margin: 22.5% 0 0 1%;
  z-index: 0;
  position: fixed;
}

.design {
  float:center;
  vertical-align:middle;
  margin: 17% 0 0 74%;
  z-index: 2;
  position: absolute;
  width: 15%;
  color: #000;
  text-align: center;
  font-family: "cannon", san-serif;
	text-transform: uppercase;
	text-size: 14;
  font-weight: "black";
}

.circle2 {
  position: relative;
  display: block;
  margin: 0;
  background-color: transparent;
  text-align: center;
  font-size: 3px;

}

.circle2:after {
  display: block;
  padding-bottom: 27%;
  width: 27%;
  height: 0;
  border-radius: 50%;
  background-color: #FFB800;
  content: "";
}

.circle2__inner {
  position: absolute;
  vertical-align: middle;
  top: 35%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle2__wrapper {
  display: table;
  width: 27%;
  height: 27%;
}

.circle2__content {
  display: table-cell;
  vertical-align: middle;
  float: center;
}

@media (min-width: 480px) {
  .circle2__content {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .circle2__content {
    font-size: 4em;
  }
}
/********************* begin marquee **********************/

.container3 {
	width: 100%;
	text-size: 10;
	text-transform: uppercase;
	color: #FFB800;
	justify-content: center;
	text-align: center;
	float: center;
	vertical-align: bottom;
	margin: 97vh 0 0 0;
	position: absolute;
	font-weight: "black";
	font-family: "cannon";
}

.container2 {
  height: 60px;
	position: relative;
	font-family: "cannon", san-serif;
	font-weight: "black";
	text-transform: uppercase;
	color: #FFB800;
	text-size: 10;
	letter-spacing: .1em;
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Safari */
	transform: rotate(270deg);
}
/********************* end marquee **********************/
